body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table a {
  background: black;
  color: white;
  font-size: 30px;
  padding: 30px;
  display: block;
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 10px;
  height: 10px;
}
